.item-display{
    margin-top: 30px;
    /* padding: 20px; */
}
.item-display h2{
    /* padding-top: 20px; */
    font-size: max(2vw, 24px);
    font-weight: 400; 
}
.item-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.search-input {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.highlight {
    background-color: rgba(0, 78, 56, 0.362);
    font-weight: bold;
    color: #000;
}


.search-icon {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #333;
}
