.login-popup {
    position: fixed;
    top: 0;
    right: 0; /* Cover the entire viewport from right */
    bottom: 0; /* Cover the entire viewport from bottom */
    left: 0; /* Cover the entire viewport from left */
    z-index: 1;
    background-color: rgba(0, 78, 56, 0.4);
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: rgb(144, 143, 143);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.8s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input{
   outline: none;
   border: 1px solid rgb(57, 57, 57); 
   padding: 10px;
   border-radius: 40px;
   cursor: pointer;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(57, 57, 57);
    font-size: 15px;
    cursor: pointer;
}
.login-popup-container button:hover {

    background-color: rgb(125, 125, 125);
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input {
    margin-top: 5px;
}
.login-popup p {
    color: rgb(55, 55, 55);
}

.login-popup p span {
    color: rgba(0, 78, 56, 0.976);
    font-weight: 400;
    cursor: pointer;
}